# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# API keys / environment variables
.env

# Temporary files
tempCodeRunnerFile.py

# Python build files
build/
dist/
*.egg-info/

# Optional cache
image_cache.json

instance/
.env/